.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.input {
  border: none;
  color: #020A11;
  background-color: #E3E730;
  padding: 0.5rem 1rem;
}

.input:focus {
  outline: none;
}

.button {
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: #E3E730;
  color: #020A11;
  padding: 0.5rem 1rem;
}

.button:hover {
  cursor: pointer;
}

.select {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 1.9rem;
  overflow: hidden;
  background-color: #E3E730;
  width: 100%;
  padding: 0;
  transition: 0.2s ease-in-out;
}

.select:hover {
  height: 10rem;
  overflow-y: scroll;
}

.select span {
  color: #020A11;
}

.select label {
  cursor: pointer;
  color: #020A11;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select label input {
  display: flex;
  cursor: pointer;
}